/venv
/shared/tests/zip_test_download_location
/shared/tools/env_os_variables.py
trip_updates(6).pb
/.idea
/services/micro1_vehicles/log.txt
/services/micro1_vehicles/log_file.log
/docker-compose.yaml
/.env
/services/micro1_vehicles/env
/services/micro1_vehicles/config.env
/services/micro1_vehicles/log_file.log
/services/micro2_timetables/env
/services/micro2_timetables/config.env
/services/micro2_timetables/log_file.log
/services/micro3_statistic/env
/services/micro3_statistic/config.env
/services/micro3_statistic/log_file.log
/services/micro4_watcher/env
/services/micro4_watcher/config.env
/services/micro4_watcher/log_file.log
/services/micro5_elasticmq
/services/notes.txt
